.list-desc .item
    border-bottom: 1px solid color(white blackness(5%))
    padding: 2.5vw 4vw
    height: 15vw

.list-desc .item .title
    display: block
    font-weight: 400
    font-size: 4vw
    height: calc((15vw - 2.5vw - 2.5vw) / 2)
    line-height: calc((15vw - 2.5vw - 2.5vw) / 2)

.list-desc .item .info
    display: block
    color: color(white blackness(60%))
    font-size: 3vw
    height: calc((15vw - 2.5vw - 2.5vw) / 2)
    line-height: calc((15vw - 2.5vw - 2.5vw) / 2)
