@import "../variable.sss"

//----------------------------------------------------------------------------------------------------------------------
// Container
//----------------------------------------------------------------------------------------------------------------------

.container
    width: 100%
    margin: 0 auto
    &:before
        content: ""
        display: table
    &:after
        clear: both
        content: ""
        display: table
    &.md
        max-width: 1024px
    &.lg
        max-width: 1440px

//----------------------------------------------------------------------------------------------------------------------
// Row
//----------------------------------------------------------------------------------------------------------------------

.row:after
    clear: both
    content: ""
    display: table
